body {
    margin: 0px;
    background-color: rgb(232, 206, 206);
}

#theFather {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    flex-grow: 1;
    margin: 25px;
    background-image: linear-gradient(to right, rgb(247, 48, 48), rgb(138, 102, 102));
    text-align: center;
    border-radius: 30px;
}

#heading {
    color: black;
    font-size: 48px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 15px 5px 15px black;
}

#navItems {
    /* List of Links */
    list-style-type: none;
    overflow: hidden;
}

.navItem {
    /* Items within List of Links */
    text-align: center;
    margin: 30px;
    display: inline;
    text-decoration: none;
}

.navLinks {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.navItem:hover {
    background-color: rgb(166, 166, 166);
}

#middle {
    flex-grow: 4;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    background-color: #ffcece;
    border-radius: 30px;
}

#form {
    background-color: #ffcece;
    padding: 30px;
    border-radius: 20px;
}

#theSmallerFather {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formItems {
    margin: 100px;
}

.orderHeading {
    color: black;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#bInfo {
    border-radius: 30px;
}

#cCard {
    border-radius: 30px;
}

#footer {
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerItems {
    color: white;
    text-align: center;
}

.locationLinks {               /* Links don't acutally work */
    text-decoration: none;
    font-size: 16px;
    color:rgb(166, 166, 166);
}


